<nav class="navbar navbar-expand-md">
    <a class="navbar-brand text-white font-weight-bold" href="/">Noob Boy</a>
    <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggle-icon"><i class="fa fa-bars"></i></span>
        </button>
        <a href="#" class="navbar-toggler text-white">
            Login
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-5 mr-auto" *ngIf="categoryList">
            <li class="nav-item">
                <a class="nav-link text-white active" href="/">HOME</a>
            </li>
            <li class="nav-item" *ngFor="let category of categoryList">
                <a class="nav-link text-white " href="/category/{{category.name}}">{{category.name}}</a>
            </li>
        </ul>
    </div>
    <a class="btn btn-outline-light my-2 my-lg-0 mr-3" href="/login">
        Login
    </a>
</nav>