<div class="row ml-3" *ngIf="!isLoad">
    <div class="col-lg-12 col-md-12 pr-0 pl-0">
        <div class="search">
            <div class="title-right">
                search blog
            </div>
            <div class="contentsub-right">
                <input type="text" placeholder="Search..." />
                <a a="#"><i class="fa fa-search fa-2x"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 pr-0 pl-0 mt-3">
        <div class="popular-posts">
            <div class="title-right">
                popular posts
            </div>
            <div class="contentsub-right">
                <div class="row">
                    <ng-template ngFor let-popularPost [ngForOf]="popularPosts" let-i="index">
                        <div class="col-lg-12 col-md-12">
                            <div class="box">
                                <div class="img-contain" [ngStyle]="{'width':'140px','height':'80px'}">
                                    <a routerLink="/post/{{popularPost._id}}">
                                        <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{popularPost.logo}}"
                                            alt="" [ngStyle]="{'width':'140px','height':'80px'}" />
                                    </a>
                                </div>
                                <div class="news-content">
                                    <a routerLink="/post/{{popularPost._id}}">
                                        <p class="text-left">
                                            {{popularPost.title}}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr *ngIf="i != (popularPosts.length - 1) " />
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 pr-0 pl-0 mt-3">
        <div class="">
            <div class="title-right">
                All Category
            </div>
            <div class="contentsub-right">
                <ul class="category-right" *ngIf="categoryList">
                    <li *ngFor="let category of categoryList">
                        <i class="fa fa-chevron-right"></i>
                        <a routerLink="/category/{{category.name}}" class="text-secondary">{{category.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 pr-0 pl-0 mt-3">
        <div class="last-posts">
            <div class="title-right">
                last posts
            </div>
            <div class="contentsub-right">
                <div class="row">
                    <ng-template ngFor let-lastPost [ngForOf]="lastPosts" let-i="index">
                        <div class="col-lg-12 col-md-12">
                            <div class="box">
                                <div class="img-contain" [ngStyle]="{'width':'140px','height':'80px'}">
                                    <a routerLink="/post/{{lastPost._id}}">
                                        <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{lastPost.logo}}"
                                            alt="" [ngStyle]="{'width':'140px','height':'80px'}" />
                                    </a>
                                </div>
                                <div class="news-content">
                                    <a routerLink="/post/{{lastPost._id}}">
                                        <p class="text-left">
                                            {{lastPost.title}}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr *ngIf="i != (lastPosts.length - 1) " />
                    </ng-template>


                </div>
            </div>
        </div>
    </div>
</div>