<ng-container *ngIf="isLoad">
    <div class="search-left">
        <div class="title-right">
            search blog
        </div>
        <div class="contentsub-right">
            <input type="text" class="w-75" placeholder="Search..." />
            <a href="#"><i class="fa fa-search fa-2x"></i></a>
        </div>
    </div>

    <div class="blog-news">
        <div class="title">
            <a routerLink="/category/news">Blog News</a>
            <div class="view-all">
                <a routerLink="/category/news"><i class="fa fa-bars"><span>All News</span></i></a>
            </div>
        </div>
        <div class="row blog-news-box">

            <ng-template ngFor let-blogNew [ngForOf]="blogNews" let-i="index">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="box">
                        <div class="img-contain" [ngStyle]="{'width':'120px','height':'120px'}">
                            <a routerLink="/post/{{blogNew._id}}">
                                <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{blogNew.logo}}" alt=""
                                    [ngStyle]="{'width':'120px','height':'120px'}" />
                            </a>
                        </div>
                        <div class="news-content">
                            <a routerLink="/post/{{blogNew._id}}">
                                <p>
                                    {{blogNew.title}}
                                </p>
                            </a>
                            <i class="fa fa-clock-o">{{blogNew.date}}</i>
                            <i class="fa fa-eye">{{blogNew.views}}</i>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="row css-html-box">
        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 0;">
            <div class="title title-left">
                <a routerLink="/category/CSS">css</a>
                <div class="view-all">
                    <a routerLink="/category/CSS">
                        <i class="fa fa-bars"><span>All News</span></i>
                    </a>
                </div>
            </div>

            <div class="row mt-2">
                <ng-template ngFor let-cssBlog [ngForOf]="cssBlogs" let-i="index">

                    <div class="col-lg-12 col-md-12" [ngStyle]="{'height': '400px'}" *ngIf="i == 0">
                        <div class="box clear">
                            <div class="img-contain" [ngStyle]="{'height': '180px'}">
                                <a routerLink="/post/{{cssBlog._id}}">
                                    <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{cssBlog.logo}}"
                                        alt="" [ngStyle]="{'height': '180px'}" />
                                </a>
                            </div>
                            <div class="header-css">
                                <a routerLink="/post/{{cssBlog._id}}">
                                    <h5>{{cssBlog.title}}</h5>
                                </a>
                                <i class="fa fa-clock-o">{{cssBlog.date}}</i>
                                <i class="fa fa-eye">{{cssBlog.views}}</i>
                                <p>
                                    {{cssBlog.contentSub.substring(0,150)}}...
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12" *ngIf="i > 0">
                        <div class="box">
                            <div class="img-contain" [ngStyle]="{'width':'150px','height':'120px'}">
                                <a routerLink="/post/{{cssBlog._id}}">
                                    <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{cssBlog.logo}}"
                                        alt="" [ngStyle]="{'width':'150px','height':'120px'}" />
                                </a>
                            </div>
                            <div class="news-content">
                                <a routerLink="/post/{{cssBlog._id}}">
                                    <p>
                                        {{cssBlog.title}}
                                    </p>
                                </a>

                                <i class="fa fa-clock-o">{{cssBlog.date}}</i>
                                <i class="fa fa-eye">{{cssBlog.views}}</i>
                            </div>
                        </div>
                    </div>
                    <hr *ngIf="i < cssBlogs.length - 1" />
                </ng-template>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12" style="padding: 0;">
            <div class="title title-left">
                <a routerLink="/category/HTML">HTML</a>
                <div class="view-all">
                    <a routerLink="/category/HTML">
                        <i class="fa fa-bars"><span>All News</span></i>
                    </a>
                </div>
            </div>

            <div class="row mt-2">
                <ng-template ngFor let-htmlBlog [ngForOf]="htmlBlogs" let-i="index">

                    <div class="col-lg-12 col-md-12" [ngStyle]="{'height': '400px'}" *ngIf="i == 0">
                        <div class="box clear">
                            <div class="img-contain" [ngStyle]="{'height': '180px'}">
                                <a routerLink="/post/{{htmlBlog._id}}">
                                    <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{htmlBlog.logo}}"
                                        alt="" [ngStyle]="{'height': '180px'}" />
                                </a>
                            </div>
                            <div class="header-css">
                                <a routerLink="/post/{{htmlBlog._id}}">
                                    <h5>{{htmlBlog.title}}</h5>
                                </a>
                                <i class="fa fa-clock-o">{{htmlBlog.date}}</i>
                                <i class="fa fa-eye">{{htmlBlog.views}}</i>
                                <p>
                                    {{htmlBlog.contentSub.substring(0,150)}}...
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12" *ngIf="i > 0">
                        <div class="box">
                            <div class="img-contain" [ngStyle]="{'width':'150px','height':'120px'}">
                                <a routerLink="/post/{{htmlBlog._id}}">
                                    <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{htmlBlog.logo}}"
                                        alt="" [ngStyle]="{'width':'150px','height':'120px'}" />
                                </a>
                            </div>
                            <div class="news-content">
                                <a routerLink="/post/{{htmlBlog._id}}">
                                    <p>
                                        {{htmlBlog.title}}
                                    </p>
                                </a>

                                <i class="fa fa-clock-o">{{htmlBlog.date}}</i>
                                <i class="fa fa-eye">{{htmlBlog.views}}</i>
                            </div>
                        </div>
                    </div>
                    <hr *ngIf="i < cssBlogs.length - 1" />
                </ng-template>
            </div>
        </div>
    </div>

    <div class="javascript-box">
        <div class="title">
            <a routerLink="/category/Javascript">Javascript</a>
            <div class="view-all">
                <a routerLink="/category/Javascript"><i class="fa fa-bars"><span>All News</span></i></a>
            </div>
        </div>

        <div class="row javascript-content mt-2">

            <div class="col-lg-6 col-md 6 col-sm-12 javascript-header" *ngIf="isLoad">
                <div class="box">
                    <div class="img-contain">
                        <a routerLink="/post/{{jsBlogs[0]._id}}">
                            <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{jsBlogs[0].logo}}" alt="" />
                        </a>
                    </div>
                    <div class="news-content">
                        <a routerLink="/post/{{jsBlogs[0]._id}}">
                            <h5 class="text-white">
                                {{jsBlogs[0].title}}
                            </h5>
                        </a>
                        <i class="fa fa-clock-o text-white" style="color: white;">{{jsBlogs[0].date}}</i>
                        <i class="fa fa-eye text-white" style="color: white;">{{jsBlogs[0].views}}</i>
                        <p class="text-white">
                            {{jsBlogs[0].contentSub.substring(0,150)}}...
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm 12" *ngIf="isLoad">
                <ng-template ngFor let-jsBlog [ngForOf]="jsBlogs" let-i="index">
                    <div class="box" *ngIf="i > 0">
                        <div class="img-contain" [ngStyle]="{'width': '140px','height':'100px'}">
                            <a routerLink="/post/{{jsBlog._id}}">
                                <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{jsBlog.logo}}" alt=""
                                    [ngStyle]="{'width': '140px','height':'100px'}" />
                            </a>
                        </div>
                        <div class="news-content">
                            <a routerLink="/post/{{jsBlog._id}}">
                                <p>
                                    {{jsBlog.title}}
                                </p>
                            </a>
                            <i class="fa fa-clock-o">{{jsBlog.date}}</i>
                            <i class="fa fa-eye">{{jsBlog.views}}</i>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="nodejs-box">
        <div class="title">
            <a routerLink="/category/Nodejs">Nodejs</a>
            <div class="view-all">
                <a routerLink="/category/Nodejs"><i class="fa fa-bars"><span>All News</span></i></a>
            </div>
        </div>

        <div class="row nodejs-content mt-2">
            <ng-template ngFor let-nodejsBlog [ngForOf]="nodejsBlogs" let-i="index">
                <div class="col-lg-4 col-md 6 col-sm-12">
                    <div class="box">
                        <div class="img-contain" [ngStyle]="{'width': '200px','height':'120px'}">
                            <a routerLink="/post/{{nodejsBlog._id}}">
                                <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{nodejsBlog.logo}}" alt=""
                                    [ngStyle]="{'width': '200px','height':'120px'}" />
                            </a>
                        </div>
                        <div class="news-content">
                            <a routerLink="/post/{{nodejsBlog._id}}">
                                <h5>
                                    {{nodejsBlog.title}}
                                </h5>
                            </a>
                            <i class="fa fa-clock-o">{{nodejsBlog.date}}</i>
                            <i class="fa fa-eye">{{nodejsBlog.views}}</i>
                            <p>
                                {{nodejsBlog.contentSub.substring(0,150)}}...
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="mongo-box">
        <div class="title">
            <a routerLink="/category/Mongodb">Mongo</a>
            <div class="view-all">
                <a routerLink="/category/Mongodb"><i class="fa fa-bars"><span>All News</span></i></a>
            </div>
        </div>

        <div class="row mongo-content mt-2">
            <ng-template ngFor let-mongodbBlog [ngForOf]="mongodbBlogs" let-i="index">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="img-contain" [ngStyle]="{'height': '200px'}">
                            <a routerLink="/post/{{mongodbBlog._id}}">
                                <img src="https://immense-eyrie-97426.herokuapp.com/img/logo/{{mongodbBlog.logo}}"
                                    alt="" [ngStyle]="{'height': '200px'}" />
                            </a>
                        </div>
                        <div class="news-content">
                            <a routerLink="/post/{{mongodbBlog._id}}">
                                <h5>
                                    {{mongodbBlog.title}}
                                </h5>
                            </a>
                            <i class="fa fa-clock-o">{{mongodbBlog.date}}</i>
                            <i class="fa fa-eye">{{mongodbBlog.views}}</i>
                            <p>
                                {{mongodbBlog.contentSub.substring(0,150)}}...
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</ng-container>