<ng-container *ngIf="isLoad">
    <div class="container container-top">
        <div class="row">
            <ng-template ngFor let-postRandom [ngForOf]="postsRandom" let-i="index">
                <a routerLink="/post/{{postRandom._id}}" class="col-lg-4 col-md-12" style="
                                  background: url('https://immense-eyrie-97426.herokuapp.com/img/logo/{{postRandom.logo}}') no-repeat center center/cover;
                                ">
                    <div>
                        <p>
                            {{postRandom.title}}
                        </p>
                    </div>
                </a>
            </ng-template>
        </div>
    </div>
</ng-container>