<div class="container container-top">
    <div class="row">
        <a href="#" class="col-lg-4 col-md-12" style="
              background: url('../../assets/blog1.jpg') no-repeat center center/cover;
            ">
            <div>
                <p>
                    Amazon Is Expanding Its Retail Operation To 100 Pop-Up Stores
                    Around The US
                </p>
            </div>
        </a>
        <a href="#" class="col-lg-4 col-md-12" style="
              background: url('../../assets/blog1.jpg') no-repeat center center/cover;
            ">
            <div>
                <p>
                    Amazon Is Expanding Its Retail Operation To 100 Pop-Up Stores
                    Around The US
                </p>
            </div>
        </a>
        <a href="#" class="col-lg-4 col-md-12" style="
              background: url('../../assets/blog1.jpg') no-repeat center center/cover;
            ">
            <div>
                <p>
                    Amazon Is Expanding Its Retail Operation To 100 Pop-Up Stores
                    Around The US
                </p>
            </div>
        </a>
    </div>
</div>